/* Meta site*/

h1 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	line-height: 100%;
}

h2 {
	font-size: 17px;
	color: #000;
	font-weight: bold;
	padding: 15px 15px;
	line-height: 100%;
	background-color: #92dce0;
	margin-bottom: 5px;
	border-top: 20px solid #fff;
	border-bottom: 5px solid #fff;
	
}

h3 {
	font-size: 15px;
	font-weight: bold;
	padding: 5px 15px;
	line-height: 100%;
	background-color: #92dce0;
	margin-bottom: 5px;
	border-top: 20px solid #fff;
	border-bottom: 5px solid #fff;
}

#container {
	background: transparent;
}

.collapsible-header {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.collapsible-header::before {
	position: absolute;
	content: ' ';
	left: 10px;
	top: 16px;
	width: 0;
	height: 0;
	border-left: 7px solid #000;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
.collapsible-header.open::before {
	position: absolute;
	content: ' ';
	left: 10px;
	top: 20px;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #000;
	border-bottom: 0;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	padding: 10px 5px;
	line-height: 100%;
}
.logo-meta {
	font-size: .75em;
}
p {
	font-size: 13px;
	line-height: 150%;
}
.card_rectangle {
	padding: 20px;
}
.collapse-rec {
	display: none;
}
.collapse-rec.open {
	display: block;
}
.primary-list {
	list-style-type: square;
	padding-left: 50px;
	line-height: 150%;
	font-size: 13px;

}
.sublist {
	list-style-type: circle;
	padding-left: 55px;
	line-height: 150%;
	font-size: 13px;
}
.sitemap-list ul,
.sitemap-list {
	margin: 10px 0 10px 25px;
	list-style: square;
}
.sitemap-list li {
	margin: 0 0 15px 0;
}