/*
COMP1950: 	Course Site Redesign
File:		Styles.css
Date:		June 30th, 2015
Group:		Bill Kwok
			Cindy Wang
			Dennis Deveras
			Neil MacDonald
*/


body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: #000;
}
/*****************/
/*  Clear fix    */
/*http://nicolasgallagher.com/micro-clearfix-hack/*/
/*****************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

ol {
	list-style: decimal-leading-zero;
	list-style-position: inside;
}

#container {
	width: 1024px;
	margin: 0 auto;
	background: #f2f2f3;
	min-height: 500px;
	padding-top: 90px;
}

#top-nav {
	position: fixed;
	width: 100%;
	height: 90px;
	width: 1024px;
	top: 0;
	background: #fff;
}

.nav-list {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav-list li {
	display: inline-block;
	margin: 0 55px;
	padding: 0;
}
.nav-list a {
	color: #000;
	text-decoration: none;
}

#top-nav .nav-list {
	margin: 40px auto 0 auto;
}
#top-nav .logo {
	margin-top: -35px;
	color: #fff;
}

.logo {
	box-sizing: border-box;
	background: #333;
	display: block;
	width: 75px;
	height: 75px;
	padding: 23px 0;
	border-radius: 100%;
	text-decoration: none;
	text-align: center;
}

#main {
	margin-left: 300px;
	width: 684px;
	padding: 20px;
}

#side-nav {
	overflow-y: auto;
	position: fixed;
	width: 300px;
	top: 90px;
	bottom: 0;
	background-color: #385B9F;
	color: #fff;
	font-size: 1.2em;
}

.side-nav-head {
	font-weight: bold;
	padding: 10px 5px;
	background: #152737;
	margin: 0 0 10px;
}


#side-nav .collapsible {
	margin: 30px 10px;
}

.collapsible li {
	margin: 0 0 10px 0;
}
.collapsible a {
	color: #fff;
	text-decoration: none;
}
.collapsible li.open > a {
	color: orange;
	text-decoration: none;
}

.collapsible a::before {
	content: '>';
	margin: 0 4px 0 0;
}
.collapsible li.open .sublist {
	display: block;
}
.sublist {
	display: none;
	margin: 15px 0 20px 50px;
}

.list-head {
	margin: 0 5px;
}

.content {
	padding: 10px;
	width: 720px;
	height: 100%;
	margin-left: 5px;
	font-family: verdana, sans-serif;
	background-color: #f2f2f3;
}
