body {
	font-family: verdana, sans-serif;
	font-size: 14px;
}
#container {
	width: 1024px;
}

/*	flexible box layout: container used for the two primary columns: main & nav	*/
#wrapper1	{
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row; /* Safari 6.1+ */
    -moz-flex-direction: row;    
    -ms-flex-direction: row;    
    flex-direction: row;    
	
content	{
	-webkit-flex: 7; flex 7;
	-moz-flex: 7; flex 7;
	-ms-flex: 7; flex 7;
	flex: 7; flex 7;
}

nav2		{
	-webkit-flex: 3; flex 3;
	-moz-flex: 3; flex 3;
	-ms-flex: 3; flex 3;
	flex: 3; flex 3;
}

#nav1 {
	position: fixed;
	color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#nav2 {
	float: left;
	padding: 5px;
	color: black;
	width: 300px;
	background-color: #of9fb4;
}

.content {
	padding: 10px;
	width: 720px;
	height: 100%;
	margin-left: 5px;
	font-family: verdana, sans-serif;
	background-color: #f2f2f3;
}
